<div class="wrapper fadeInDown">
  <div id="formContent">
    <div id="formHeader">login</div>
    <br />
    <form (submit)="validateUser($event, username, password)">
      <input
        required
        type="text"
        id="login"
        class="fadeIn second"
        name="login"
        placeholder="username"
        #username
      />
      <input
        required
        type="text"
        id="password"
        class="fadeIn third"
        name="login"
        placeholder="password"
        #password
      />
      <br />
      <br />
      <input type="submit" class="fadeIn fourth" value="Log In" />
    </form>
    <div id="formFooter">
      <a
        class="fadeIn"
        target="_blank"
        href="https://github.com/sarathpslive/srt-angular-bootstrap-login"
        *ngIf="isLoginSuccess != false"
        >source code</a
      >
      <span class="fadeIn badge badge-danger" *ngIf="isLoginSuccess == false"
        >അത് തെറ്റാണ് Bro !!</span
      >
      <br />
      <span class="fadeIn badge badge-success" *ngIf="isLoginSuccess == false"
        >try a matching username and password!!
      </span>
    </div>
  </div>
</div>
