<div class="srt-panel srt-animate-opacity">
  <div class="srt-tag srt-jumbo">S</div>
  <div class="srt-tag srt-jumbo">A</div>
  <div class="srt-tag srt-jumbo">R</div>
  <div class="srt-tag srt-jumbo">A</div>
  <div class="srt-tag srt-jumbo">T</div>
  <div class="srt-tag srt-jumbo pointer" (click)="onLogout()">H</div>
</div>

<div class="srt-row-padding">
  <div class="srt-third">
    <a target="_blank" href="https://resume.sarathps.com">
      <div class="srt-card srt-animate-zoom">
        <div class="srt-container srt-gray">
          <h1>
            <b>Download CV</b>
          </h1>
        </div>
      </div></a
    >
    <br />
    <a target="_blank" href="https://blog.sarathps.com">
      <div class="srt-card srt-animate-left">
        <div class="srt-container srt-green">
          <h1>
            <b>Blog</b>
          </h1>
        </div>
      </div></a
    >
    <br />
    <a target="_blank" href="https://photos.sarathps.com">
      <div class="srt-card srt-animate-right">
        <div class="srt-container srt-red">
          <h1>
            <b>Photos</b>
          </h1>
        </div>
      </div>
    </a>
    <br />
  </div>
  <div class="srt-third">
    <a target="_blank" href="https://talkingbubble.sarathps.com">
      <div class="srt-card srt-animate-zoom">
        <div class="srt-container srt-cyan">
          <h1>
            <b>Talking Bubble</b>
          </h1>
        </div>
      </div>
    </a>
    <br /><a target="_blank" href="https://github.sarathps.com">
      <div class="srt-card srt-animate-zoom">
        <div class="srt-container srt-black">
          <h1>
            <b>Programming</b>
          </h1>
        </div>
      </div>
    </a>
    <br />
    <a target="_blank" href="http://linkedin.sarathps.com">
      <div class="srt-card srt-animate-left">
        <div class="srt-container srt-blue">
          <h1>
            <b>Linked In</b>
          </h1>
        </div>
      </div>
    </a>
    <br />
  </div>
  <div class="srt-third">
    <a target="_blank" href="http://instagram.sarathps.com">
      <div class="srt-card srt-animate-right">
        <div class="srt-container srt-orange">
          <h1>
            <b>Instagram</b>
          </h1>
        </div>
      </div>
    </a>
    <br />
    <a target="_blank" href="https://foodie.sarathps.com">
      <div class="srt-card srt-animate-bottom">
        <div class="srt-container srt-purple">
          <h1>
            <b>Foodie</b>
          </h1>
        </div>
      </div>
    </a>
    <br />

    <a target="_blank" href="https://sarathpslive.github.io/srt-resume-online/"
      ><div class="srt-card srt-animate-top">
        <div class="srt-container srt-yellow">
          <h1>
            <b>Resume</b>
            <span style="font-size: 0.5em">(in progress)</span>
          </h1>
        </div>
      </div>
    </a>
    <br />
    &copy; Sarath PS
  </div>
</div>
